//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;
$bp-desktop-xxl: 1920px;

//variables de las fuentes
$font-primary: Poppins;

//variables de color
$blue: #515DEF;
$white: #FBFBFB;
$black: #333333;
$silver: #909090;


